@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
}
a, a:hover{
    text-decoration: none;
    color: inherit;
}
body{
    background-color: #eaea7d;
}
nav{
    position: relative;
    margin-right: 20px;
}
ul{
    display: block;
    float: right;
}
#itemsb{
    margin-left: 120px;
    display: flex;
}
.item{
    
    padding:150px 20px 30px 20px;
}
#summary{
    display: block;
    text-align: center;
}
li{
    display: inline-block;
    margin-right: 30px;
    margin-top: 13px;    
    font-family: 'Open Sans', sans-serif;
    color: #7c7c3a;
    font-weight: bold;
    font-size: 30px;
    list-style-type: none;
}
li a{
    text-decoration: none;
    color: #7c7c3a;
}

li a:hover{
    text-decoration: none;
    color: #7c7c3a;
}
li:hover{
    border-bottom: 3px solid #7c7c3a;
    color: #7c7c3a;
}

#container{
    width: 40%;
    padding-top: 11%;
    padding-left: 20%;
}
#p1, #p2{
    margin-top: 20px;
    font-size: 22px; 
    text-align: center;
    word-spacing: 5px;
}
#p2{
    margin-right: 25%;
    margin-left: 25%;
    opacity: 0.5;
}
#enterquiz{
    margin-top: 15px;
    margin-left: 45%;
    margin-right: 45%;
}
#quizbox{
    padding-top: 15%;
    padding-left: 5%;
    padding-right: 20%;
}
#scdiv{
    margin-left: 45%;
    width: 10%;
    
}
#cong, #sugg{
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
#scp{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    border: 3px dashed #62622b;
}
#purchase{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}